* {
    box-sizing: border-box;
}
.header {
    width: 100%;
    padding: 32px 0;
}
.menu {
    width: 620px;
    margin: 0 auto;
}

.menu-item {
    display: inline-block;
    margin-right: 72px;
}

.menu-item:nth-child(3) {
    margin-right: 50px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    color: #FF0000;
}

.ul {
    display: inline;
}

.background {
    width: 100%;
    height: 789px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-section {
    width: 100%;
    padding: 48px 68px 42px;
    text-align: center;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin-bottom: 38px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    letter-spacing: 2.4px;    
    color: #373737;
    margin-top: 28px;
}

.btn-started {
    border: none;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;    
    color: #FFFFFF;
    margin: 66px auto;
    cursor: pointer;
}

.footer {    
    width: 100%;
    padding: 40px 105px 29px;
}

.footer-title {
    visibility: hidden;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;        
    letter-spacing: 2.7px;
    text-transform: uppercase;    
    color: #373737;
    
}

.footer-text {
    width: 100%;
    padding: 0 105px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;    
    color: #373737;
    text-align: right;
}